<div class="left">
	<div class="list">
		<div class="listTitle"><h3>Extensions</h3></div>
		<div class="listResults">
			<div class="listResult">
				<a href="http://account-switcher.appspot.com/" >Account Switcher</a>
			</div>
			<div class="listResult">
				<a href="http://speedy-links.appspot.com/" >Speedy Links</a>
			</div>
		</div>
	</div>
	<div class="list">
		<div class="listTitle"><h3>Web sites</h3></div>
		<div class="listResults">
			<div class="listResult">
				<a href="http://shortcut-finder.appspot.com/" >Shortcut Finder</a>
			</div>
			<div class="listResult">
				<a href="http://dev-articles.appspot.com/" >Dev Articles</a>
			</div>
		</div>
	</div>
</div>